<div class="container top-30">
  <div class="row">

    <div class="col-md-3">

      <label for="term"> Search artists</label>
      <input
        [(ngModel)]="term"
        (keyup)="searchArtist()"
        type="text" name="term"
        class="form-control"
        placeholder="Search by artists ....">
      <hr>

    </div>

    <div class="col-md-9">
        <div class="row">
          <div class="col-md-3 text-center puntero"
              [routerLink]="['/artist', artist.id]"
              *ngFor="let artist of _spotifyService.artists">
            <img [src]="artist.images | withoutPicture" alt=""
              class="img-fluid img-thumbnail">
            <p>{{ artist.name}}</p>
            <hr>
          </div>
        </div>
    </div>

  </div>
</div>
